<app-header></app-header>

<div *ngIf="allDataFetched">
    <div class="profileHeader">
        <img class="profile-image" src="{{character.thumbnail.path}}/landscape_incredible.{{character.thumbnail.extension}}" alt="">
        <div class="nameLabel">
            <h1>{{character.name | uppercase}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="profile-info">
            <h2>Description </h2>
            <p *ngIf="character.description">{{character.description}}</p>
            <p class="notFound" *ngIf="!character.description">A DESCRIPTION FOR THIS CHARACTER COULD NOT BE FOUND</p>
            <hr>
            <h2>Stories</h2>
            <p class="notFound" *ngIf="character.stories.available == 0"> THERE ARE NO AVAILABLE STORIES</p>
            <div *ngIf="character.stories.available > 0">
                <p *ngFor = "let item of character.stories.items" > {{item.name}}</p>
            </div>
            <hr>
            <h2>Events</h2>
            <p class="notFound" *ngIf="character.events.available == 0"> THERE ARE NO AVAILABLE EVENTS</p>
            <div *ngIf="character.events.available > 0">
                <p *ngFor = "let item of character.events.items" > {{item.name}}</p>
            </div>
            <hr>
            <h2>Comics</h2>
            <p class="notFound" *ngIf="character.comics.available == 0"> THERE ARE NO AVAILABLE COMICS</p>
            <div *ngIf="character.comics.available > 0">
                <p *ngFor = "let item of character.comics.items" > {{item.name}}</p>
            </div>
            <hr>
            <h2>Series</h2>
            <p class="notFound" *ngIf="character.series.available == 0"> THERE ARE NO AVAILABLE SERIES</p>
            <div *ngIf="character.series.available > 0">
                <p *ngFor = "let item of character.series.items" > {{item.name}}</p>
            </div>
            <hr>
            <h2>Related Characters</h2>
            <p class="notFound" *ngIf="character.series.available == 0">  UNABLE TO FIND RELATED CHARACTERS </p>
            <div *ngIf="related.length > 0">
                <p *ngFor = "let item of related" > {{item.name}}</p>
            </div>
        </div>
        <hr>
        <div class="comments">
            <h3>Comments</h3>
            <div class="commentForm">
                <div >
                    <input class='name' type="text" placeholder="Enter Name..." required [(ngModel)]="name">
                    <textarea class="comment" placeholder="Type your comment here:..." required [(ngModel)]="text" ></textarea>
                </div>
                <button class="submit" (click)="updateComments()" >Submit</button>
            </div >
        </div>
        <hr>
        <div class="postedComments">
            <div class="post" *ngFor="let c of comments">
                <div style="display:inline-block">
                    <h4>{{c.name}}</h4> - <p>{{c.date}}</p>
                </div>
                <p>{{c.text}}</p>
            </div>
        </div>
    </div>
</div>
